
/*Navbar*/

header{
    background-color: #324F40;
    font-size: 200%;
    padding : 0; 
    font-family: 'League Gothic';
    z-index: 3;
}


.navbar-brand{
    width : 17%;
    padding-left: 3%;
}

.navbar-brand > img {
    width: 60%;
    height: auto;
    background: white;
    border-radius: 10px;
}

.nav-link.active{
    background-color : white !important; 
    color : #324F40 !important; 

}

.nav-link{
    color : white !important; 
}

.logo{
    width:150%; 
   padding: 0;  
 
   cursor: pointer; 
}

/*Certifications*/
.cert-box {
   /* background: black;*/
    width: 375px;
    height: 325px;
    margin-right: 10px;
    margin-top: 3em;
    position: relative;
}

.cert-box2 {
    /* background: black;*/
     width: 425px;
     height: 425px;
    
     margin-top: 3em;
     position: relative;
 }

.cert-box > img {
    width: 375px;
    height: 325px;
    position: relative;
    top: 0;
    left: 0;
    
}

.cert-box2 > img {
    width: 425px;
    height: 325px;
    position: relative;
    top: 0;
    left: 0;
}


/*Footer*/
footer { 
    background-color: #324F40;
    color: white;
    padding: 15px;
    text-align: center;
}


.contact-info a {
    color: white;
    text-decoration: none;
}

/*body*/

@media (max-width: 768px) {
    .contact-info {
        font-size: 16px;
    }
}

body{
    background-color: #93B1A7;
    margin : 0; 
}

.position-relative {
    z-index: -1;
    transform: translateY(-20%);
}

img {
    max-width: 100%;
    max-height: auto;
    background-size: cover;
    z-index: -1;
}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    /* display: flex; */
}

.container {
    padding: 2em 0 2em 0;
    margin: 0;
}

.h-img {
    border-radius: 0px 30px 0px 30px;
}

.title {
    position: relative;
    font-size: 4.2em;
    top: 40%;
    transform: translateY(-50%);
}

.body-text {
    font-size: 1.5em;
    text-align: center;
}

span {
    font-style: italic;
    color: purple;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* .b-img {
    transform: scale(75%);
    transition: 0.25s ease-in-out;
}

.b-img:hover {
    transform: scale(100%);
} */

.read-more {
    border-radius: 15px;
    color: white;
    border: none;
    background: #324f40;
    padding: 0.5em;
    transition: 0.25s ease-in-out;
}

.read-more:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.scrollAnimation {
    animation: scrollAni infinite 3s;
}

@keyframes scrollAni {
    from {
        transform: rotate(30%);
    }
    to {
        transform: rotate(-30%);
    }
}

.bg-orange {
    width: 100%;
    height: auto;
    background: orange;
}

.ps-card {
    padding-top: 2em;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 250px;
}

.ps-card > a > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 155px;
    max-width: 200px;
    @media screen and (max-width: 600px) {
        padding: 0px 0px 3em 0;
    }
}

.ps-card2 {
    padding-top: 2em;
    justify-content: center;
    text-align: center;
    /* width: 250px; */
    height: 250px;
}
.ps-card2 > a > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 300px;
    max-width: 400px;
    @media screen and (max-width: 600px) {
        padding: 0px 0px 3em 0;
    }
}

figcaption{
    text-align: center;
    margin-bottom: 5px;
    color: #324F40;
    font-weight : bold;
}
.b-img{
    margin-bottom: 0;
}


