
.carousel-container{
    display: flex;
  align-items: center;
}

.carousel{
    width:40%; 
    float : left; 
    margin-left : 1%; 
}

.navbar-toggler-icon{

    flex-direction: column;
    color:white !important;
    border-radius: 5px;
}

/* .carousel-item{
    height: 30%;
} */


.text{
    flex: 1; /* Allow the text to fill the available space */
  padding: 10px; 
}

.carousel-container{
    display: flex;
  align-items: center;
}

h1{
    padding-top:20px ; 
    font-family: 'League Gothic';
}

/*background of the header*/
header{
    background-color: #324F40;
    font-size: 200%;
    padding : 0; 
    font-family: 'League Gothic';

}


.navbar-brand{
    width : 17%;
    padding-left: 3%;
}


.nav-link.active{
    background-color : white !important; 
    color : #324F40 !important; 

}

.nav-link{
    color : white !important; 
}

.logo{
    width:100%; 
   padding: 0;  
 
   cursor: pointer; 
}

body{
    /*background-color: #93B1A7 ;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    
}

footer {
    background-color: #324F40;
    color: white;
    padding: 15px;
    text-align: center;
}
.contact-info a {
    color: white;
    text-decoration: none;
}

h1{
    margin-left: 1;
    color : #324F40; 
}


