header{
    background-color: #7A918D;
    font-size: 200%;
    padding : 2%; 
    font-family: 'League Gothic';
}


.navbar-brand{
    width : 15%;
} 

.nav-link.active{
    background-color : #FEB95F !important; 
    color : #7A918D !important; 

}

.nav-link{
    color : #FEB95F !important; 
}

.logo{
    width:100%; 
   padding: 0;  
 
   cursor: pointer; 
}
body{
    /*background-color: #93B1A7 ;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}