header{
    background-color: #324F40;
    font-size: 200%;
    padding : 2%; 
    font-family: 'League Gothic';
}


.navbar-brand{
    width : 15%;
} 

.nav-link.active{
    background-color : white!important; 
    color : #324F40 !important; 

}

.nav-link{
    color : white !important; 
}

.logo{
    width:100%; 
   padding: 0;  
 
   cursor: pointer; 
}
body{ p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
    background-color: #93B1A7;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    margin : 0; 
}



.position-relative {
    z-index: -1;
    transform: translateY(-20%);
}


footer {
    background-color: #324F40;
    color: white;
    padding: 15px;
    text-align: center;
}
.contact-info a {
    color: white;
    text-decoration: none;
}
